{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Panel de administración</h2>
<div class="card">
    <div class="card-body">
        <h5 class="card-title">Agregar administrador</h5>
        <p class="card-text">Haga clic a continuación para agregar un nuevo administrador.</p>
        <a href="{% url 'add_administrator' %}" class="btn btn-primary">Agregar administrador</a>
    </div>
</div>

    <div class="col-md-4">
    <a href="{% url 'edit_admin' %}">
        <div class="card text-center shadow">
            <div class="card-body">
                <h5 class="card-title">Editar admin</h5>
                <p class="card-text">Actualizar o eliminar detalles del administrador.</p>
            </div>
        </div>
    </a>
</div>


{% endblock %}   <!-- This closes the outer block -->
