{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Reportes De Clases</h2>
    <div class="card">
        <div class="card-header">
            Estadísticas de Clases
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Clases</th>
                    <th>Total de estudiantes</th>
                    <th>Registros totales</th>
                </tr>
            </thead>
            <tbody>
                {% for classroom in classrooms %}
                <tr {% if forloop.counter|divisibleby:2 %}class="table-secondary"{% endif %}>
                    <td>{{ classroom.name }}</td>
                    <td>{{ classroom.total_students }}</td>
                    <td>{{ classroom.total_checkins }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<a href="{% url 'reports_dashboard' %}" class="btn btn-secondary mt-3">Devolver</a>

{% endblock %}
