{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <div class="row">
        <!-- Class Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Class</h5>
                    <p class="card-text">View the students who have checked in today.</p>
                    <a href="{% url 'class_dashboard' %}" class="btn btn-primary">Go to Class Dashboard</a>
                </div>
            </div>
        </div>

        <!-- Students Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Students</h5>
                    <p class="card-text">View the students who have checked in today.</p>
                    <a href="{% url 'student_dashboard' %}" class="btn btn-primary">Go to Student Dashboard</a>
                </div>
            </div>
        </div>

        <!-- Attendance Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Attendance</h5>
                    <p class="card-text">View the students who have checked in today.</p>
                    <a href="{% url 'attendance_dashboard' %}" class="btn btn-primary">Go to Attendance Dashboard</a>
                </div>
            </div>
        </div>

        <!-- Reports Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reports</h5>
                    <p class="card-text">View and generate reports.</p>
                    <a href="{% url 'reports_dashboard' %}" class="btn btn-primary">Go to Reports Dashboard</a>
                </div>
            </div>
        </div>

        <!-- Admin Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Administradores</h5>
                    <p class="card-text">Administrar usuarios</p>
                    <a href="{% url 'edit_admin' %}" class="btn btn-primary">Go to Edit Admin</a>
                </div>
            </div>
        </div>

        <!-- ... Add more cards as needed ... -->
    </div>
</div>
{% endblock %}
