{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <div class="row">
                <!-- Attendance Card -->
        {% if request.user.admin_level >= 1 %}
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Asistencia</h5>
                    <p class="card-text">Registre a los estudiantes para las clases o sesiones de hoy.</p>
                    <a href="{% url 'attendance_dashboard' %}" class="btn btn-primary">Asistencia</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if request.user.admin_level >= 1 %}
                <!-- Students Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Estudiantes</h5>
                    <p class="card-text">Agregar estudiantes, editar estudiantes y ver lista de estudiantes</p>
                    <a href="{% url 'student_dashboard' %}" class="btn btn-primary">Administrar Estudiantes</a>
                </div>
            </div>
        </div>
        {% endif %}

        {% if request.user.admin_level >= 2 %}
        <!-- Class Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Clases</h5>
                    <p class="card-text">Crear clases, Lista de Clases, y Totales por clase.</p>
                    <a href="{% url 'class_dashboard' %}" class="btn btn-primary">Administrar Clases</a>
                </div>
            </div>
        </div>
    {% endif %}




        {% if request.user.admin_level >= 3 %}

        <!-- Reports Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Reportes</h5>
                    <p class="card-text">Ver y generar reportes.</p>
                    <a href="{% url 'reports_dashboard' %}" class="btn btn-primary">Reportes</a>
                </div>
            </div>
        </div>
    {% endif %}

          {% if request.user.admin_level >= 3 %}
        <!-- Admin Card -->
        <div class="col-md-4 col-sm-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Administradores</h5>
                    <p class="card-text">Administrar usuarios</p>
                    <a href="{% url 'edit_admin' %}" class="btn btn-primary">Editar Admin</a>
                </div>
            </div>
        </div>
    {% endif %}

        {% if request.user.admin_level >= 1 %}
        <!-- My Profile Card -->
<div class="col-md-4 col-sm-6 mb-4">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Mi perfil</h5>
            <p class="card-text">Actualiza tus datos personales y contraseña.</p>
            <a href="{% url 'update_profile' %}" class="btn btn-primary">Edit Profile</a>
        </div>
    </div>
</div>
{% endif %}

    </div>
</div>
{% endblock %}
