{% extends 'base.html' %}

{% block content %}

<div class="container mt-4">
    <h3>Select a Classroom for Check-in</h3>
    <div class="card">
        <div class="card-body">
            <ul class="list-group">
                {% for classroom in classrooms %}
                    <li class="list-group-item {% if forloop.counter|divisibleby:2 %}list-group-item-secondary{% endif %} d-flex justify-content-between align-items-center">
                        {{ classroom.name }}
                        <a href="{% url 'check_in' %}?classroom_id={{ classroom.id }}" class="btn btn-primary">Entry</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
<a href="{% url 'attendance_dashboard' %}" class="btn btn-secondary mt-3">Go to Attendance Dashboard</a>

{% endblock %}