{% extends 'base.html' %}

{% block content %}
{% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<div class="container mt-5">
    <h2>Update Administrator</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Update Admin</button>
                    <a href="{% url 'dashboard' %}" class="btn btn-secondary">Return to Home</a>
    </form>
</div>

{% endblock %}
