{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

    <!-- Displaying Messages using Bootstrap Alerts -->
    {% if messages %}
        <div class="mb-4">
            {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% else %} alert-info{% endif %}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}

    <h2>Update Administrator</h2>

    <!-- Decoy input fields outside the real form -->
    <input type="text" name="decoy_username" style="display:none;">
    <input type="password" name="decoy_password" style="display:none;">

    <form method="post" class="mt-3" autocomplete="off">
        {% csrf_token %}

        <!-- Rendering form fields manually with Bootstrap styles -->
        {% for field in form %}
            <div class="form-group">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                {% if field.field.widget.input_type == "select" %}
                    <select class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}">
                        {% for value, display_name in field.field.choices %}
                            <option value="{{ value }}" {% if field.value == value %}selected{% endif %}>{{ display_name }}</option>
                        {% endfor %}
                    </select>
                {% elif field.field.widget.input_type == "password" %}
                    <!-- Initially set as type text to prevent auto-fill, we'll change them with JavaScript -->
                    <input type="text" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value }}">
                {% else %}
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" name="{{ field.name }}" value="{{ field.value }}">
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="text-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}

        <!-- Organizing buttons -->
        <div class="d-flex justify-content-between">
            <button type="submit" class="btn btn-primary">Update Admin</button>
            <a href="{% url 'dashboard' %}" class="btn btn-secondary">Return to Home</a>
        </div>

    </form>
</div>

<script>
    window.onload = function() {
        setTimeout(function() {
            // Change the input types to password after a delay
            const passwordFields = document.querySelectorAll('input[type="text"]');
            passwordFields.forEach(field => {
                if (field.name === "password1" || field.name === "password2") {
                    field.type = 'password';
                }
            });
        }, 100);
    };
</script>

{% endblock %}
